<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>UOM Data Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<div class="container">

		<div class="card">

			<div class="card-header bg-primary text-white text-center">
				<h3>UOM DATA PAGE</h3>
			</div>

			<div class="card-body">
				<a th:href="@{/uom/excel}" class="btn btn-warning"> Export to
					Excel</a>|<a th:href="@{/uom/pdf}" class="btn btn-warning"> Export to
					PDF</a>
				<table class="table table-hover">
					<tr class="bg-success text-white">
						<th>ID</th>
						<th>TYPE</th>
						<th>MODLE</th>
						<th>DESCRIPTION</th>
						<th>OPERATION</th>
					</tr>
					<tr th:each="ob:${list}">
						<td th:text="${ob.id}"></td>
						<td th:text="${ob.uomType}"></td>
						<td th:text="${ob.uomModel}"></td>
						<td th:text="${ob.description}"></td>
						<td><a class="btn btn-danger"
							th:href="@{/uom/delete?id={data}(data=${ob.id})}">DELETE</a> | <a
							class="btn btn-info"
							th:href="@{/uom/edit?id={data}(data=${ob.id})}">EDIT</a></td>
					</tr>
				</table>
				<!--card body end-->

				<div class="card-footer bg-warning text-white text-center"
					th:if="${message != null}">
					<span th:text="${message}"></span>
				</div>
				<!-- card footer end -->

			</div>
			<!-- card end -->

		</div>
		<!-- container end -->
	</div>
</body>
</html>