<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Wh Type Data Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
	function deleteConfirm() {
		return confirm("Are you sure, you want to delete ?");
	}
</script>
</head>
<body>
	<div class="container">

		<div class="card">

			<div class="card-header bg-primary text-white text-center">
				<h3>Wh TYPE DATA PAGE</h3>
			</div>
			<div class="card-body">
				<!-- 	<a th:href="@{/st/excel}" class="btn btn-warning"> Export to
					Excel</a>| <a th:href="@{/st/pdf}" class="btn btn-warning"> Export
					to PDF</a> -->
				<table class="table table-hover">
					<tr class="bg-success text-white">
						<th>User Id</th>
						<th>User Type</th>
						<th>User Code</th>
						<th>User For</th>
						<th>User email</th>
						<th>User Contact</th>
						<th>User ID Type</th>
						<th>Id Number</th>
						<th>OPERATION</th>
					</tr>
					<tr th:each="ob:${list}">
						<td th:text="${ob.id}"></td>
						<td th:text="${ob.userType}"></td>
						<td th:text="${ob.userCode}"></td>
						<td th:text="${ob.userFor}"></td>
						<td th:text="${ob.userEmail}"></td>
						<td th:text="${ob.userContact}"></td>
						<td th:text="${ob.userIdType}"></td>
						<!-- 						<td th:text="${ob.ifOther}"></td> -->
						<td th:text="${ob.idNumber}"></td>
						<td>-----</td>
						<!-- <td><a class="btn btn-danger"
							th:href="@{/st/delete?id={data}(data=${ob.id})}"
							onclick="return deleteConfirm()">DELETE</a> | <a
							class="btn btn-info"
							th:href="@{/st/edit?id={data}(data=${ob.id})}">EDIT</a></td>  -->
					</tr>
				</table>
			</div>
			<!-- card body end -->

			<div class="card-footer bg-warning text-white text-center"
				th:if="${message != null}">
				<span th:text="${message}"></span>
			</div>
			<!-- card footer end -->

		</div>

	</div>
</body>
</html>
<!-- This is without design and validation
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h3>SHIPMENT TYPE DATA PAGE</h3>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>MODE</th>
			<th>CODE</th>
			<th>ENABLED</th>
			<th>GRADE</th>
			<th>DESCRIPTION</th>
			<th>OPERATION</th>
		</tr>
		<tr th:each="ob:${list}">
			<td th:text="${ob.id}"></td>
			<td th:text="${ob.shipmentMode}"></td>
			<td th:text="${ob.shipmentCode}"></td>
			<td th:text="${ob.enableShipment}"></td>
			<td th:text="${ob.shipmentGrade}"></td>
			<td th:text="${ob.description}"></td>
			<td><a th:href="@{/st/delete?id={data}(data=${ob.id})}">DELETE</a>
				| <a th:href="@{/st/edit?id={data}(data=${ob.id})}">EDIT</a></td>
		</tr>
	</table>
	<span th:text="${message}"></span>
</body>
</html> -->